@CHARSET "ISO-8859-1";
.title{
	font-size:250%;
	color:pink;
}

.centered{
	text-align:center;
}

.form{
	margin-left:auto;
	margin-right:auto;
	width:20%;
}

.colored{
	color:LimeGreen;
}

.link{
	color:white;
	text-decoration:none;
	margin-left:1px;
	margin-right:1px;
}

.inp{
	width:100%;
	margin-top:2%;
	margin-bottom:2%;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

#but{
	width:40%;
	margin-left:30%;
	margin-right:30%;
}

body{
	font-size:150%;
	text-align:center;
	background: -webkit-radial-gradient(green, blue);
	background: -o-radial-gradient(green, blue);
	background: -moz-radial-gradient(green, blue);
	background: radial-gradient(green, blue);
}